@use 'variables' as *;

footer {
  margin-top: 100px;

  .credits {
    font-size: 16px;
    text-align: center;
  }

  ul.nav-footer {
    border-bottom: 1px solid #d2d2d2;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    li {
      margin: 20px 10px;

      a {
        color: #212529;
      }
    }
  }

  ul.nav-footer-social {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    li {
      margin: 20px 10px;

      a {
        color: #212529;
      }
    }
  }
}
