@use 'variables' as *;

.welcome-section {
  padding: 200px 30px;
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  text-align: center;
}

.contact-section {
  padding: 200px 30px;
  background: url(../img/bg-2.jpg) no-repeat;
  background-size: cover;
  text-align: center;
}

.medical-team-section {
  padding: 200px 30px;
  background: url(../img/bg-3.jpg) no-repeat;
  background-size: cover;
  text-align: center;
}
